<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.slawomirmakurat.agromarket">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".drawer.Lav" />
        <activity android:name=".drawer.Action_navig" />
        <activity android:name=".drawer.Nav_add_frend" />
        <activity android:name=".drawer.Action_message" />
        <activity android:name=".drawer.Action_my_ads" />
        <activity android:name=".drawer.Action_my_favorite" />
        <activity android:name=".drawer.Action_add_ad" />
        <activity android:name=".drawer.Nav_settings"></activity>
    </application>

</manifest>